.menu__link[href^='/docs/tutorials'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:teach.svg');
}
.menu__link[href^='/docs/tutorials/animations'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:animation-play.svg');
}
.menu__link[href^='/docs/tutorials/animations/creating-hud-hands-animation-in-blender'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:arm-flex-outline.svg');
}
.menu__link[href^='/docs/tutorials/animations/creating-motion-marks-in-blender'] {
  --sidebar-icon: url('https://api.iconify.design/subway:mark-1.svg');
}
.menu__link[href^='/docs/tutorials/audio-video'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:movie-open-play.svg');
}
.menu__link[href^='/docs/tutorials/audio-video/convert-to-ogm'] {
  --sidebar-icon: url('https://api.iconify.design/streamline-plump:convert-pdf-1-solid.svg');
}
.menu__link[href^='/docs/tutorials/audio-video/setup-ogg'] {
  --sidebar-icon: url('https://api.iconify.design/hugeicons:setup-01.svg');
}
.menu__link[href^='/docs/tutorials/configs'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:cog.svg');
}
.menu__link[href^='/docs/tutorials/mapping'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:map.svg');
}
.menu__link[href^='/docs/tutorials/materials'] {
  --sidebar-icon: url('https://api.iconify.design/icon-park-outline:material.svg');
}
.menu__link[href^='/docs/tutorials/models'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:cube-scan.svg');
}
.menu__link[href^='/docs/tutorials/models/binding-model-in-blender'] {
  --sidebar-icon: url('https://api.iconify.design/file-icons:binder.svg');
}
.menu__link[href^='/docs/tutorials/models/creating-door-in-blender'] {
  --sidebar-icon: url('https://api.iconify.design/ph:door-bold.svg');
}
.menu__link[href^='/docs/tutorials/models/creating-hanging-object-in-blender'] {
  --sidebar-icon: url('https://api.iconify.design/tabler:hanger.svg');
}
.menu__link[href^='/docs/tutorials/models/creating-ladder-in-blender'] {
  --sidebar-icon: url('https://api.iconify.design/ph:ladder.svg');
}
.menu__link[href^='/docs/tutorials/models/creating-som-occluder-in-blender'] {
  --sidebar-icon: url('https://api.iconify.design/ix:sound-off-filled.svg');
}
.menu__link[href^='/docs/tutorials/models/preparing-building-in-blender'] {
  --sidebar-icon: url('https://api.iconify.design/teenyicons:building-outline.svg');
}
.menu__link[href^='/docs/tutorials/quests'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:target-account.svg');
}
.menu__link[href^='/docs/tutorials/quests/dialogues'] {
  --sidebar-icon: url('https://api.iconify.design/tabler:message-user.svg');
}
.menu__link[href^='/docs/tutorials/quests/npc-creation'] {
  --sidebar-icon: url('https://api.iconify.design/game-icons:character.svg');
}
.menu__link[href^='/docs/tutorials/scripting'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:code-tags.svg');
}
.menu__link[href^='/docs/tutorials/scripting/script-attachments'] {
  --sidebar-icon: url('https://api.iconify.design/tdesign:attach.svg');
}
.menu__link[href^='/docs/tutorials/scripting/time-events'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:event-time.svg');
}
.menu__link[href^='/docs/tutorials/sdk'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:application-brackets.svg');
}
.menu__link[href^='/docs/tutorials/sdk/сreating-and-placing-group-in-sdk'] {
  --sidebar-icon: url('https://api.iconify.design/carbon:cics-system-group.svg');
}

.menu__link[href^='/docs/tutorials/texturing'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:image-edit.svg');
}
.menu__link[href^='/docs/tutorials/texturing/working-correctly-with-icon-atlases'] {
  --sidebar-icon: url('https://api.iconify.design/material-symbols:gallery-thumbnail-outline-rounded.svg');
}

.menu__link[href^='/docs/tutorials/addons'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:puzzle-plus-outline.svg');
}
.menu__link[href^='/docs/tutorials/addons/lua-debugger'] {
  --sidebar-icon: url('https://api.iconify.design/streamline:bug-antivirus-debugging.svg');
}
.menu__link[href^='/docs/tutorials/addons/lua-unlocalizer'] {
  --sidebar-icon: url('https://api.iconify.design/tabler:variable.svg');
}
