.menu__link[href^='/docs/modding-tools'] {
  --sidebar-icon: url('https://api.iconify.design/mynaui:tool.svg');
}
.menu__link[href^='/docs/modding-tools/achive-compilers-decompilers'] {
  --sidebar-icon: url('https://api.iconify.design/fluent:archive-multiple-16-filled.svg');
}
.menu__link[href^='/docs/modding-tools/ai'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:robot-outline.svg');
}
.menu__link[href^='/docs/modding-tools/animations'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:animation-outline.svg');
}
.menu__link[href^='/docs/modding-tools/audio-video'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:music-box-multiple.svg');
}
.menu__link[href^='/docs/modding-tools/blender'] {
  --sidebar-icon: url('https://api.iconify.design/simple-icons:blender.svg');
}
.menu__link[href^='/docs/modding-tools/coding'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:code-parentheses.svg');
}
.menu__link[href^='/docs/modding-tools/compilers'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:tools.svg');
}
.menu__link[href^='/docs/modding-tools/compressors'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:archive.svg');
}
.menu__link[href^='/docs/modding-tools/in-game-editors'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:controller-classic-outline.svg');
}
.menu__link[href^='/docs/modding-tools/in-game-editors/weather-editor'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:weather-hail.svg');
}
.menu__link[href^='/docs/modding-tools/in-game-editors/lightning-editor'] {
  --sidebar-icon: url('https://api.iconify.design/entypo:light-up.svg');
}
.menu__link[href^='/docs/modding-tools/models'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:cube-scan.svg');
}
.menu__link[href^='/docs/modding-tools/sdk'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:application-brackets-outline.svg');
}
.menu__link[href^='/docs/modding-tools/textures'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:image-multiple-outline.svg');
}
.menu__link[href^='/docs/modding-tools/weapons'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:pistol.svg');
}
