.menu__link[href^='/docs/references'] {
  --sidebar-icon: url('https://api.iconify.design/mingcute:list-search-line.svg');
}
.menu__link[href^='/docs/animations'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:animation-play.svg');
}
.menu__link[href^='/docs/animations/skeletons-list'] {
  --sidebar-icon: url('https://api.iconify.design/game-icons:skeleton.svg');
}
.menu__link[href^='/docs/references/audio'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:music.svg');
}
.menu__link[href^='/docs/references/configs'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:file-cog.svg');
}
.menu__link[href^='/docs/references/configs/fluids'] {
  --sidebar-icon: url('https://api.iconify.design/tabler:chart-bubble-filled.svg');
}
.menu__link[href^='/docs/references/configs/fluids/fluid-emitter'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:water-evaporation.svg');
}
.menu__link[href^='/docs/references/configs/fluids/fluid-volume'] {
  --sidebar-icon: url('https://api.iconify.design/tabler:cube-3d-sphere.svg');
}
.menu__link[href^='/docs/references/configs/items'] {
  --sidebar-icon: url('https://api.iconify.design/tabler:basket-filled.svg');
}
.menu__link[href^='/docs/references/configs/items/equipment'] {
  --sidebar-icon: url('https://api.iconify.design/streamline-freehand:role-playing-games-icon-weapon-equipment-crate-chest.svg');
}
.menu__link[href^='/docs/references/configs/items/equipment/backpack'] {
  --sidebar-icon: url('https://api.iconify.design/tabler:backpack.svg');
}
.menu__link[href^='/docs/references/configs/items/equipment/helmet'] {
  --sidebar-icon: url('https://api.iconify.design/lucide-lab:motor-racing-helmet.svg');
}
.menu__link[href^='/docs/references/configs/items/equipment/outfit'] {
  --sidebar-icon: url('https://api.iconify.design/hugeicons:body-armor.svg');
}
.menu__link[href^='/docs/references/configs/items/trade'] {
  --sidebar-icon: url('https://api.iconify.design/tabler:mood-dollar.svg');
}
.menu__link[href^='/docs/references/configs/items/weapons'] {
  --sidebar-icon: url('https://api.iconify.design/fa7-solid:gun.svg');
}
.menu__link[href^='/docs/references/configs/items/weapons/grenade'] {
  --sidebar-icon: url('https://api.iconify.design/game-icons:stun-grenade.svg');
}
.menu__link[href^='/docs/references/configs/items/weapons/weapon-ammo'] {
  --sidebar-icon: url('https://api.iconify.design/picon:ammo.svg');
}
.menu__link[href^='/docs/references/configs/creatures'] {
  --sidebar-icon: url('https://api.iconify.design/lucide-lab:unicorn-head.svg');
}
.menu__link[href^='/docs/references/configs/creatures/stalker'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:human-male.svg');
}
.menu__link[href^='/docs/references/engine'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:engine-outline.svg');
}
.menu__link[href^='/docs/references/engine/console-commands'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:console.svg');
}
.menu__link[href^='/docs/references/engine/data-types'] {
  --sidebar-icon: url('https://api.iconify.design/ix:data-type-integer.svg');
}
.menu__link[href^='/docs/references/engine/xray-coordinate-system'] {
  --sidebar-icon: url('https://api.iconify.design/streamline-flex:3d-coordinate-axis.svg');
}
.menu__link[href^='/docs/references/file-formats'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:file-code-outline.svg');
}
.menu__link[href^='/docs/references/materials'] {
  --sidebar-icon: url('https://api.iconify.design/icon-park-outline:material.svg');
}
.menu__link[href^='/docs/references/models'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:cube-outline.svg');
}
.menu__link[href^='/docs/references/shaders'] {
  --sidebar-icon: url('https://api.iconify.design/file-icons:vertexshader.svg');
}
.menu__link[href^='/docs/references/scripting'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:script-text-outline.svg');
}
