.menu__link[href^='/docs/getting-started'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:rocket-launch.svg');
}
.menu__link[href^='/docs/getting-started/main-folders-and-files'] {
  --sidebar-icon: url('https://api.iconify.design/fluent:important-12-filled.svg');
}
.menu__link[href^='/docs/getting-started/mod-organizer'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:folder-zip.svg');
}
.menu__link[href^='/docs/getting-started/mod-organizer/package-naming'] {
  --sidebar-icon: url('https://api.iconify.design/ic:baseline-drive-file-rename-outline.svg');
}
.menu__link[href^='/docs/getting-started/unpacking-game-files'] {
  --sidebar-icon: url('https://api.iconify.design/mdi:package-variant.svg');
}
